In [1]:
import pandas as pd

In [26]:
file_01 = r'data/01. Viagens TIA.xls'
file_02 = r'data/02. Viagens TIA.xls'
file_03 = r'data/03. Viagens TIA.xls'
file_04 = r'data/04. Viagens TIA.xls'
file_05 = r'data/05. Viagens TIA.xls'
file_06 = r'data/06. Viagens TIA.xls'
file_07 = r'data/07. Viagens TIA.xls'
file_08 = r'data/08. Viagens TIA.xls'
file_09 = r'data/09. Viagens TIA.xls'

df_01 = pd.read_excel(file_01).iloc[2:]
df_02 = pd.read_excel(file_02).iloc[2:]
df_03 = pd.read_excel(file_03).iloc[2:]
df_04 = pd.read_excel(file_04).iloc[2:]
df_05 = pd.read_excel(file_05).iloc[2:]
df_06 = pd.read_excel(file_06).iloc[2:]
df_07 = pd.read_excel(file_07).iloc[2:]
df_08 = pd.read_excel(file_08).iloc[2:]
df_09 = pd.read_excel(file_09).iloc[2:]

In [33]:
result = pd.Dataframe({'Jan': 2})

2        TERMINAL INTEGRADOR DE ARAGUARI - TIA
3                                   01/02/2019
4                                   28/02/2019
5                                        Ativa
6                                          NaN
                         ...
12823      TPD - Complexo de Tubarão - Vitoria
12824      TPD - Complexo de Tubarão - Vitoria
12825      TPD - Complexo de Tubarão - Vitoria
12826      TPD - Complexo de Tubarão - Vitoria
12827      TPD - Complexo de Tubarão - Vitoria
Name: Unnamed: 1, Length: 12826, dtype: object

In [13]:
result.head()

,Relatório de Viagens,Unnamed: 1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 5,Unnamed: 50,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Data de emissão,14/10/2019 10:49:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Terminal,TERMINAL INTEGRADOR DE ARAGUARI - TIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Data Início,01/01/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Data Final,31/01/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN